.profile__add-button {
  position: relative;

  align-self: center;
  grid-column: 1 / span 4;
  grid-row: -1 / -2;

  width: 100%;
  height: 50px;
  margin-top: 32px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

/* Plus symbol made in CSS */

.profile__add-button::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 2px;

  content: '';
  transform: translate(-50%, -50%);

  background-color: #ffffff;
}

.profile__add-button::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 16px;

  content: '';
  transform: translate(-50%, -50%);

  background-color: #ffffff;
}

/* Media queries */

@media screen and (min-width: 600px) {
  .profile__add-button {
    grid-column: -1 / -2;
    grid-row: 1 / 2;

    width: 150px;
    margin: 0;
    margin-left: auto;
  }

  .profile__add-button::after {
    width: 22px;
  }

  .profile__add-button::before {
    height: 22px;
  }
}
