.popup__input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 5px 10px;

  color: inherit;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);

  font-size: 14px;
  line-height: 17px;
}

.popup__input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #75c0fd;
}

.popup__input::placeholder {
  color: #c4c4c4;
}
